<h1>Exemplos</h1>

<ul>
  <li> <%= link_to 'Component Demo', '/main/component_demo' %> </li>
  <li> <%= link_to 'Todo Demo', '/main/todo' %> </li>
  <li> <%= link_to 'Todo Nuclear', '/main/todo_nuclear' %> </li>
</ul>